<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:insert="~{layout/header}"></div>
</head>
<body>
    <div th:insert="~{layout/navbar}"></div>

    <div class="container py-5">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-1 g-3">
            <div class="row">
                <div class="col-4">
                    <div class="position-sticky" style="top: 2rem;">
                        <div id="list-example" class="list-group">
                            <a class="list-group-item list-group-item-action" href="#notice-item">notice</a>
                            <a class="list-group-item list-group-item-action" href="#report-item">report</a>
                            <a class="list-group-item list-group-item-action" href="#log-item">log</a>
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
                        <h1 class="mb-3">Administrator Dashboard</h1>

                        <p>회원 관리, 게시물 관리, 공지 작성은 상단 메뉴에서 선택 가능</p>
                        <p>공지 확인, 로그 확인, 신고 확인은 해당 페이지에서 확인 가능</p>

                        <hr class="my-4">

                        <div class="d-flex justify-content-between">
                            <h4 class="mb-3" id="notice-item">notice</h4>

                            <div class="form-group col-3">
                                <form class="form-inline d-flex">
                                    <input type="text" name="noticeKeyword" class="form-control" id="noticeKeyword" placeholder="keyword" th:value="${noticeKeyword}">
                                    <button class="btn btn-primary btn-lg" id="btn-admin-notice-search">Search</button>
                                </form>
                            </div>
                        </div>

                        <div class="accordion" id="noticeList">
                            <div th:each="notice, iterStat : ${noticeList}" class="accordion-item">
                                <h2 class="accordion-header" th:id="'heading' + ${iterStat.index}">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" th:data-bs-target="'#notice' + ${iterStat.index}" aria-expanded="false" th:aria-controls="'notice' + ${iterStat.index}">
                                        <span th:utext="'<' + ${notice.noticeType} + '> ' + ${notice.title}"></span>
                                    </button>
                                </h2>
                                <div th:id="'notice' + ${iterStat.index}" class="accordion-collapse collapse" data-bs-parent="#noticeList">
                                    <div class="accordion-body">
                                        <div th:utext="${notice.content}"></div>
                                        <form class="d-flex justify-content-end">
                                            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                                            <button class="btn btn-sm btn-outline-secondary " th:data-notice-title="${notice.title}"
                                                    sec:authorize="isAuthenticated() and hasRole('ROLE_ADMIN')">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <ul class="pagination justify-content-center">
                            <li class="page-item" th:class="${noticeList.first} ? 'disabled'">
                                <a class="page-link" th:href="@{/admin/dashboard(noticePage=${noticeList.number - 1}, noticeKeyword=${noticeKeyword})}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item" th:class="${noticeList.last} ? 'disabled'">
                                <a class="page-link" th:href="@{/admin/dashboard(noticePage=${noticeList.number + 1}, noticeKeyword=${noticeKeyword})}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>

                        <hr class="my-4">

                        <div class="d-flex justify-content-between">
                            <h4 class="mb-3" id="report-item">report</h4>

                            <div class="form-group col-3">
                                <form class="form-inline d-flex">
                                    <input type="text" name="reportKeyword" class="form-control" id="reportKeyword" placeholder="keyword" th:value="${reportKeyword}">
                                    <button class="btn btn-primary btn-lg" id="btn-admin-report-search">Search</button>
                                </form>
                            </div>
                        </div>

                        <div class="accordion" id="reportList">
                            <div th:each="report, iterStat : ${reportList}" class="accordion-item">
                                <h2 class="accordion-header" th:id="'heading' + ${iterStat.index}">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" th:data-bs-target="'#report' + ${iterStat.index}" aria-expanded="false" th:aria-controls="'report' + ${iterStat.index}">
                                        <span th:utext="'target : ' + ${report.targetBoardTitle} + ' ( Id : ' + ${report.targetBoardId} + ' ) <- reporter : '
                                                            + ${report.reporterUsername} + ' ( Id : ' + ${report.reporterUserId} + ' )'"></span>
                                    </button>
                                </h2>
                                <div th:id="'report' + ${iterStat.index}" class="accordion-collapse collapse" data-bs-parent="#noticeList">
                                    <div class="accordion-body">
                                        <div th:utext="${report.reason}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <ul class="pagination justify-content-center">
                            <li class="page-item" th:class="${reportList.first} ? 'disabled'">
                                <a class="page-link" th:href="@{/admin/dashboard(reportPage=${reportList.number - 1}, reportKeyword=${reportKeyword})}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item" th:class="${reportList.last} ? 'disabled'">
                                <a class="page-link" th:href="@{/admin/dashboard(reportPage=${reportList.number + 1}, reportKeyword=${reportKeyword})}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>

                        <hr class="my-4">

                        <div class="bd-example-snippet bd-code-snippet">
                            <h4 class="mb-3" id="log-item">log</h4>

                            <div class="bd-example m-0 border-0">
                                <table class="table table-striped">
                                    <tbody>
                                    <tr th:each="log : ${logs}">
                                        <td th:text="${log}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:insert="~{layout/footer}"></div>
    <script src="/js/admin.js"></script>
</body>