<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="~{layout/header}"></div>
</head>
<body>
    <div th:insert="~{layout/navbar}"></div>

    <div class="container py-5">
        <h4 class="mb-3">Notice</h4>
        <form>
            <div class="row g-3">
                <div class="form-group col-md-1">
                    <label for="noticeType" class="form-label">Type</label>
                    <select id="noticeType" name="noticeType" class="btn btn-outline-secondary dropdown-toggle" required>
                        <option value="important">중요</option>
                        <option value="general">일반</option>
                    </select>
                </div>


                <div class="form-group col-md-11">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="title" class="form-control" id="title" placeholder="Title">
                </div>

                <div class="form-group col-12">
                    <label for="content" class="form-label">Content</label>
                    <textarea name="content" class="form-control summernote" id="content" placeholder="content" rows="5"></textarea>
                </div>
            </div>

            <hr class="my-4">

        </form>
        <button class="w-100 btn btn-primary btn-lg" id="btn-notice-save">Confirm</button>
    </div>

    <div th:insert="~{layout/footer}"></div>

    <script th:inline="javascript">
        $(document).ready(function() {
            $('.summernote').summernote({
                placeholder: 'content',
                tabsize: 2,
                height: 300
            });
        });
    </script>

    <script src="/js/admin.js"></script>
</body>