<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:insert="~{layout/header}"></div>
</head>
<body>
    <div th:insert="~{layout/navbar}"></div>

    <div class="container py-5">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-1 g-3">
            <div class="d-flex justify-content-end">
                <div class="form-group col-3">
                    <form class="form-inline d-flex">
                        <input type="text" name="userKeyword" class="form-control" id="userKeyword" placeholder="keyword" th:value="${userKeyword}">
                        <button class="btn btn-primary btn-lg" id="btn-admin-user-search">Search</button>
                    </form>
                </div>
            </div>

            <div class="bd-example-snippet bd-code-snippet">
                <div class="bd-example m-0 border-0">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">id</th>
                                <th scope="col">username</th>
                                <th scope="col">email</th>
                                <th scope="col">createDate</th>
                                <th scope="col">role</th>
                                <th scope="col">delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="user:${userList.content}">
                                <td th:utext="${user.id}"></td>
                                <td th:utext="${user.username}"></td>
                                <td th:utext="${user.email}"></td>
                                <td th:utext="${user.createDate}"></td>
                                <td th:utext="${user.role}"></td>
                                <td><form>
                                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                                    <button class="btn btn-sm btn-outline-secondary" th:data-user-id="${user.id}"
                                            sec:authorize="isAuthenticated() and hasRole('ROLE_ADMIN')">Delete</button>
                                </form></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div>
        <ul class="pagination justify-content-center">
            <li class="page-item" th:class="${userList.first} ? 'disabled'">
                <a class="page-link" th:href="@{/admin/users(page=${userList.number - 1}, userKeyword=${userKeyword})}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item" th:class="${userList.last} ? 'disabled'">
                <a class="page-link" th:href="@{/admin/users(page=${userList.number + 1}, userKeyword=${userKeyword})}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </div>

    <div th:insert="~{layout/footer}"></div>
    <script src="/js/admin.js"></script>
</body>