<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" sec:authorize="isAnonymous() or (isAuthenticated() and hasRole('ROLE_USER'))" href="/">Home</a>
        <a class="navbar-brand" sec:authorize="isAuthenticated() and hasRole('ROLE_ADMIN')" href="/admin/dashboard">ADMIN</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <div sec:authorize="isAnonymous()">
                <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/loginForm">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/joinForm">Join</a>
                    </li>
                </ul>
            </div>

            <div sec:authorize="isAuthenticated() and hasRole('ROLE_USER')">
                <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/board/saveForm">Write</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/updateForm">Profile</a>
                    </li>
                    <li class="nav-item">
                        <form th:action="@{/logout}" method="post" id="logoutForm1">
                            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                            <button type="submit" class="nav-link" id="logout1">Logout</button>
                        </form>
                    </li>
                </ul>
            </div>

            <div sec:authorize="isAuthenticated() and hasRole('ROLE_ADMIN')">
                <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/users">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/boards">Boards</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/noticeSaveForm">notice</a>
                    </li>
                    <li class="nav-item">
                        <form th:action="@{/logout}" method="post" id="logoutForm2">
                            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                            <button type="submit" class="nav-link" id="logout2">Logout</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>