<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="~{layout/header}"></div>
</head>
<body>
    <div th:insert="~{layout/navbar}"></div>

    <div class="container py-5">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-1 g-3">
            <div class="card shadow-sm">
                <div class="card-body">
                    <small class="text-body-secondary">no.<span id="id" th:utext="${boardDetail.id}"/></small>
                    <small class="text-body-secondary">view : <span th:utext="${boardDetail.count}"/></small>

                    <hr class="my-2"><br/>

                    <h4 class="card-title" th:utext="${boardDetail.title}"></h4>

                    <hr class="my-4">

                    <div class="form-group col-12">
                        <div th:utext="${boardDetail.content}"></div>
                    </div>

                    <hr class="my-4">

                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button class="btn btn-sm btn-outline-secondary" onclick="history.back()">Back</button>
                            <a class="btn btn-sm btn-outline-secondary" th:href="@{|/board/${boardDetail.id}/updateForm|}" th:if="${boardDetail.user.id} == ${#authentication.principal.user.id}">Edit</a>
                            <button class="btn btn-sm btn-outline-secondary" id="btn-delete" th:if="${boardDetail.user.id} == ${#authentication.principal.user.id}">Delete</button>
                        </div>
                        <small class="text-body-secondary" th:utext="${boardDetail.user.username}"></small>
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-1 g-3" th:if="${fileDetail.fileName != null}">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="form-group col-12">
                        <a th:href="|/file/${boardDetail.id}|" th:utext="${fileDetail.fileName}"></a>
                    </div>
                </div>
            </div>
        </div>

        <br/>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-1 g-3">
            <div class="card shadow-sm">
                <form>
                    <input type="hidden" id="userId" th:value="${#authentication.principal.user.id}"/>
                    <input type="hidden" id="boardId" th:value="${boardDetail.id}"/>
                    <div class="card-body">
                        <textarea id="reply-content" class="form-control" rows="1"></textarea>

                        <hr class="my-4">

                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" id="btn-reply-save" class="btn btn-sm btn-outline-secondary">summit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <br/>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-1 g-3">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h4 class="card-title">comment</h4>

                    <hr class="my-4">

                    <ul id="reply-box" class="list-group">
                        <li th:id="'reply-'+${reply.id}" class="list-group-item d-flex justify-content-between align-items-center" th:each="reply : ${boardDetail.reply}">
                            <div th:utext="${reply.content}"></div>
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-body-secondary" th:utext="${reply.user.username}"></small>
                                &nbsp;
                                <button th:onclick="index.replyDelete([[${boardDetail.id}]], [[${reply.id}]])" class="btn btn-sm btn-outline-secondary">삭제</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div th:insert="~{layout/footer}"></div>
    <script src="/js/board.js"></script>
</body>