<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="~{layout/header}"></div>
</head>
<body>
    <div th:insert="~{layout/navbar}"></div>

    <div class="container py-5">
        <h4 class="mb-3">Join Membership</h4>
        <form class="needs-validation">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            <div class="row g-3">
                <div class="form-group col-12">
                    <label for="username" class="form-label">Username</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="username" placeholder="Username">
                        <button class="btn btn-primary" type="button" id="btn-checkName">Check</button>
                    </div>
                </div>

                <div class="form-group col-12">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="password">
                </div>

                <div class="form-group col-12">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="you@example.com">
                </div>
            </div>

            <hr class="my-4">

        </form>
        <button type="submit" class="w-100 btn btn-primary btn-lg" id="btn-save">Confirm</button>
    </div>

    <div th:insert="~{layout/footer}"></div>
    <script src="/js/user.js"></script>
</body>