<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="~{layout/header}"></div>
</head>
<body>
    <div th:insert="~{layout/navbar}"></div>

    <div class="container py-5">
        <h4 class="mb-3">Login</h4>
        <form action="/auth/loginProc" method="post">
            <div class="row g-3">
                <div class="form-group col-12">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" name="username" class="form-control" id="username" placeholder="Username">
                </div>

                <div class="form-group col-12">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="password" placeholder="password">
                </div>
            </div>

            <br>

            <div class="form-group form-check">
                <input type="checkbox" name="remember-me" class="form-check-input" id="remember-me">
                <label class="form-check-label" for="remember-me">Remember me</label>
            </div>

            <hr class="my-4">

            <button class="w-100 btn btn-primary btn-lg" id="btn-login">Confirm</button>
            <a href="/oauth2/authorization/kakao"><img height="48" src="/image/kakao_login_button.png"/></a>
            <a href="/oauth2/authorization/google"><img height="48" src="/image/google_login_button.png"/></a>
            <a href="/oauth2/authorization/naver"><img height="48" src="/image/naver_login_button.png"/></a>
        </form>
    </div>

    <div th:if="${session.errorMessage}" class="alert alert-danger mt-3" role="alert">
        <p th:text="${session.errorMessage}"></p>
    </div>

    <div th:insert="~{layout/footer}"></div>
    <script src="/js/user.js"></script>
</body>
