<!DOCTYPE html>
<head>
    {{>layout/header}}
</head>
<body>
{{>layout/navbar}}

<div class="container py-5">
    <h4 class="mb-3">로그인</h4>
    <form class="needs-validation">
        <div class="row g-3">
            <div class="col-12">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" placeholder="Username" autocomplete="on">
                <div class="invalid-feedback">
                    Your username is required.
                </div>
            </div>

            <div class="col-12">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" placeholder="password" autocomplete="on">
                <div class="invalid-feedback">
                    Please enter your password.
                </div>
            </div>
        </div>

        <br>

        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="save-info">
            <label class="form-check-label" for="save-info">Save this information for next time</label>
        </div>

        <hr class="my-4">

    </form>
    <button class="w-100 btn btn-primary btn-lg" id="btn-login">완료</button>
</div>

{{>layout/footer}}
<script src="/js/user.js"></script>
</body>
