<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="~{layout/header}"></div>
</head>
<body>
    <div th:insert="~{layout/navbar}"></div>

    <div class="container py-5">
        <h4 class="mb-3">Login</h4>
        <form action="/auth/loginProc" method="post">
            <div class="row g-3">
                <div class="form-group col-12">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" name="username" class="form-control" id="username" placeholder="Username">
                    <div class="invalid-feedback">
                        Your username is required.
                    </div>
                </div>

                <div class="form-group col-12">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="password" placeholder="password">
                    <div class="invalid-feedback">
                        Please enter your password.
                    </div>
                </div>
            </div>

            <br>

            <div class="form-group form-check">
                <input type="checkbox" name="remember" class="form-check-input" id="remember">
                <label class="form-check-label" for="remember">Save this information for next time</label>
            </div>

            <hr class="my-4">

            <button class="w-100 btn btn-primary btn-lg" id="btn-login">Confirm</button>
            <a href="https://kauth.kakao.com/oauth/authorize?response_type=code&client_id=87d8174de120aa789c94d20377cea7e6&redirect_uri=http://localhost:8080/auth/kakao/callback"><img height="48" src="/image/kakao_login_button.png"/></a>
        </form>
    </div>

    <div th:insert="~{layout/footer}"></div>
    <script src="/js/user.js"></script>
</body>
