<!DOCTYPE html>
<head>
    {{>layout/header}}
</head>
<body>
    {{>layout/navbar}}

    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-1 g-3">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h4 class="card-title">제목 적는 부분</h4>
                        <p class="card-text">내용 적는 부분</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-body-secondary">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>layout/footer}}
</body>